<li>
                   
    <% if (locals.user && locals.user.id == comment.user.id) {%>
        <small>
          <a href="/comments/destroy/<%= comment.id %>">X</a>
        </small>
      <%}%>
      <p>
        <%=comment._id%>
      </p>
        <p>
          
          <%= comment.content %>
          <br>
          <%= comment.user.name %>

        </p>
</li>