<div id="footer-body">
    <h1>@ social.org copyright</h1>
    <div id="links">
        <ul>
            <li>
                <a href="/">
                    Home
                </a> 
            </li>
            <li>
                <a href="/users/profile">
                    Profile
                </a> 
            </li>
        </ul>
    </div>
</div>
